/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/* Global typography */
html,
body {
  font-family: var(--font-sora), sans-serif;  /* 👈 use Next font variable */
  background-color: #fff;
  color: #000;
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0;
}

/* Container fix for ultra-wide screens */
@media (min-width: 1600px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1600px;
    padding-left: 0;
    padding-right: 0;
  }
}
