/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

h1{
  font-size: 48px;
}
p{
  font-size: 24px;
}

/* Global typography */
html,
body {
  font-family: var(--font-sora), sans-serif;  /* 👈 use Next font variable */
  background-color: #fff;
  color: #000;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0;
}

/* Container fix for ultra-wide screens */
@media (min-width: 1600px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1600px;
    padding-left: 0;
    padding-right: 0;
  }
}


@media (max-width:426px) {
  h1{
    font-size: 20px;
    line-height: 27px !important;
  }
  p{
    font-size: 16px;
  }
}

