.frame50 {
  padding-top: 80px;
  background-color: #e7f0f4;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.frame47 {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.frame39 {
  max-width: 455px;
  display: flex;
  align-items: flex-start;
  gap: 30px;
  flex-direction: column;
}

.frame39 p{
  font-size: 20px;

  font-family: 'Barlow';
font-weight: 400;
font-size: 20px;
line-height: 150%;
letter-spacing: 0.15px;

}

.frame39 form {
  position: relative;
  width: 455px;
}

.frame39 input {
  padding: 12px 16px;
  width: 100%;
  border: 1px solid #1e72be;
  padding: 12px 16px;
  background-color: transparent;
  outline: none;
}

.frame39 button {
  position: absolute;
  right: 0;
  height: 100%;
  max-width: 121px;
  background-color: #1e72be;
  padding: 9px 16px;
  color: white;
  border-radius: 12px;
  border: none;
  font-family: "Barlow";
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.15px;
  vertical-align: center;
}

.frame39 form button{
  /* display: flex; */

  align-items: center;
}

.links {
  display: flex;
  align-items: center;
  gap: 0;
}

.links div {
  padding: 10px 12px;
}

.links a {
  text-decoration: none;
  color: black;
  font-family: "Barlow";
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.15px;
}

.frame39 + div h2 {
  font-family: "Barlow";
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.18px;
}

.follow {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.follow > div {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.follow > div div {
  display: flex;
  align-items: center;
  gap: 20px;
}

.follow h2 {
  font-family: "Barlow";
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.18px;
}
.follow > div div span {
  color: #262626;

  font-family: "Barlow";
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.15px;
}

.follow div div {
  padding: 5px;
}

.active {
  color: #262626;
}
.frame39 input::placeholder {
  font-family: "Barlow";
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.15px;
  color: #1e72be;
}

.frame39 input {
  border-radius: 12px;
  color: #1e72be;
}

.hr{
  border: 0.5px solid black;
  margin: 30px 0px
}

.privacy{
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.privacy p{
  font-family: 'Barlow';
font-weight: 400;
font-size: 20px;
line-height: 150%;
letter-spacing: 0.15px;

}

.privacy div{
  display: flex;
  gap: 16px;
}

.privacy a{
  font-family: 'Barlow';
font-weight: 400;
font-size: 20px;
line-height: 150%;
letter-spacing: 0.15px;
text-decoration: underline;
text-decoration-style: solid;
text-decoration-thickness: 0%;
color: black;

}
@media (max-width: 1360px) {
  .links {
    align-items: flex-start;
    flex-direction: column;
  }
}


@media (max-width:996px){

  .frame39{
    max-width: 200px;
  }
  /* .frame47{

  flex-direction: column;
  } */
}

@media (max-width:780px){

  .frame47{
    align-items: center;
  flex-direction: column;
  gap: 20px;
  }

  .frame39 form{
    width: 309px;
  }

  .frame39{
    align-items: center;
  }
  .links{
    flex-direction: row;
  }

  .follow div{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .frame39 + div h2{
    font-size: 16px;
    text-align: center;
  }
  .follow h2{
    font-size: 16px;
    text-align: center;
  }
  .frame39 p{
    font-size: 14px;
  }
  .links a{
    font-size: 14px;
  }
  .follow > div div{
    gap: 14px;
  }
  .follow > div div span{
    font-size: 14px;
  }
  .privacy p,.privacy a{
    font-size: 12px;
  }
}

@media (max-width:517px) {
  .privacy{
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}

@media (max-width:426px) {
  .frame39 input{
    font-size: 14px;
  }
  .frame39 input::placeholder{
    font-size: 14px;
  }
  .frame39 form button{
    font-size: 14px;
  }
  .frame39 form{
    width: 120%;
  }
}