.frame72{
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    gap: 80px;
}


.bgContainer{
    position: absolute;
    width: 100vw;
    height: auto;
    z-index: 1;
    overflow: hidden;
}

.bgContainer svg{
    width: 100%;
    height: auto;
}

.frame60{
    max-width: 832px;
    display: flex;
    flex-direction: column;
    gap: 43px;
}

.frame71{
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 832px;
    position: relative;
    z-index: 2;
}
.frame71 h1{
    font-family: 'Sora';
font-weight: 700;
font-size: 48px;
line-height: 56px;
letter-spacing: 0px;
text-align: center;

}

.frame71 p{
    font-family: 'Barlow';
font-weight: 400;
/* font-size: 20px; */
line-height: 150%;
letter-spacing: 0.15px;
text-align: center;

}

.frame31{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 60px;
    padding-right: 20px;
    padding-left: 20px;
    position: relative;
    z-index: 2;
}

.imgCont{
    max-width: 493px;
    height: auto;
    border-radius: 20px;
    overflow: hidden;
}

.img1{
    width: 100%;
    height: auto;
}

.frame28{
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    max-width: 477px;
}

.imgCont + div h1{
    font-family: 'Barlow';
font-weight: 700;
font-size: 28px;
line-height: 32px;
letter-spacing: 0.18px;
text-align: center;
margin-bottom: 14px;

}

.imgCont + div p{
    font-family: 'Barlow';
font-weight: 400;
font-size: 20px;
line-height: 150%;
letter-spacing: 0.15px;
text-align: center;


}


.btnsDiv{
    display: flex;
    gap: 20px;
}

.learnBtn{
 width: 174px;
  height: 52px;
  padding: 18px 24px;
  padding-left: 20px;
  border-radius: 8px;
  background: #1E72BE;
  color: white;
  border: 1px solid transparent;
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
  white-space: nowrap;

  font-family: "Barlow";
  font-weight: 400;
  font-size: 20px;
  line-height: 16px;
  letter-spacing: 0px;

  transition: all 0.3s;
}


.learnBtn svg {
  transition: transform 0.3s ease;
}

.learnBtn:hover {
  border: 1px solid transparent;
  background-color: #66b8ff;
  gap: 9px;
}

.learnBtn:hover svg {
  transform: rotate(45deg);
}



.btn {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 16px;
  border: none;
  padding: 18px 24px;
  color: black;
  background: transparent;
  transition: all 0.5s ease;
  border-radius: 8px;
  /* max-width: 144px; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.btn:hover {
  background: #66b8ff;
}

.frame6{
    position: relative;
    z-index: 2;
}


@media (max-width:1640px) {
    .frame31{
        justify-content: center;
    }
}

@media (max-width: 426px) {
    .frame71 h1{
        font-size: 20px;
        line-height: 27px !important;
    }
    .imgCont + div h1{
        font-size: 18px;
    }
    .frame72{
        padding-top: 0;
        padding-bottom: 20px;
        gap: 30px;
    }
    .frame71{
        gap: 20px;
    }
    .imgCont + div p{
        font-size: 14px;
    }
    .frame31{
        gap: 40px;
    }
    .frame28{
        gap: 20px;
    }
    .imgCont + div h1{
        margin-bottom: 4px;
    }
    .learnBtn{
        width: 143px;
        padding: 16px 20px 16px 18px;
    }
    .learnBtn span{
        font-size: 16px;
    }
    .btn{
        
        font-size: 16px;
        width: 140px;
        padding: 16px 20px 16px 18px;
    }
    .btnsDiv{
        flex-direction: column;
    }
}